<div [formGroup]="myForm">
  <h2>Where would you like to display your campaign?</h2>

  <div formArrayName="rules">
    <div *ngFor="let rule of rules.controls; let i=index" [formGroupName]="i" class="rule-panel">
      <p class="note-top">Type a full or part url where you would like to display notifications.</p>

      <div class="row">
        <div class="col col_1_3">
          <select class="rule-select form-control">
            <option value="contains">Contains</option>
            <option value="exact_match">Exact Match</option>
          </select>
        </div>
        <div class="col col_2_3" [ngClass]="{invalid: rule.controls.customUrl.invalid}">
          <input class="form-control" matInput placeholder="Display URL" formControlName="customUrl" required>
          <div class="alert-wrong">Url is missing</div>
        </div>
      </div>

      <a class="btn btn-close" (click)="removeRule(i)">&times;</a>

    </div>
  </div>

  <button class="btn simple-gray" (click)="addRule()"><span>&#43;</span>New rule</button>
</div>
